<div
  class="container"
  [ngStyle]="{ 'background-image': imageCss, 'text-align': orientation }"
>
  <div class="headline-section">
    <h1>{{ headline }}</h1>
  </div>
  <div class="description-section">
    <p>{{ description }}</p>
  </div>
  <div *ngIf="submitSettings" class="email-section">
    <iframe name="noRedirect" id="noRedirect" style="display: none"></iframe>
    <form [action]="submitSettings.target" method="POST" target="noRedirect">
      <input
        type="text"
        name="emailAddress"
        placeholder="Enter email"
        [size]="submitSettings.textFieldCssWidth || 10"
      />
      <lp-button
        [text]="submitSettings.buttonText"
        (click)="performSubmit($event)"
      >
      </lp-button>
    </form>
  </div>
  <lp-button-group [buttons]="buttons"></lp-button-group>
  <p class="below-button-text">{{ belowButtonText }}</p>
</div>
