@use '/src/variables.scss';
.container {
  display: flex;
  flex-direction: column;
}
.container .description-block {
  text-align: center;
}
.description-block {
  display: flex;
  margin: auto 0;
  .description {
    margin: auto;
  }
}

:host.image-hide-on-mobile {
  .image-block {
    display: none;
  }
}

.image-block {
  margin: auto;
  img {
    max-width: 80vw;
    max-height: 50vh;
  }
}

.headline-section {
  h1 {
    margin: 10px 0;
    color: variables.$primary-color;
    font-size: 48px;
  }
}

.email-section {
  lp-button {
    margin: 0 0 0 -10px;
  }
  input {
    font-size: 17px;
  }
}

p.below-button-text {
  margin: 0;
  font-size: 12px;
  color: #575757;
}

@media (min-width: (variables.$mobile-width - 400)) {
  .two-pane {
    flex-direction: row;
    .description-block {
      width: 75%;
      text-align: left;

      display: inline;
      .headline-section {
        max-width: 90%;
      }
      .description-section {
        max-width: 70%;
      }
      /*p.below-button-text {
        margin: 0 0 0 25px;
      }*/
    }
    .image-block {
      width: 30%;
      img {
        max-width: 35vw;
      }
    }
  }
  .description-block {
    .description-section {
      p {
        font-size: 20px;
      }
    }
  }
  .headline-section {
    h1 {
      font-size: calc(80px + 2 * ((100vw - 400px) / 200));
      display: inline-block;
    }
  }
  .image-block {
    margin: auto;
    img {
      width: auto;
      height: auto;
    }
  }
}
