@use '/src/variables.scss';

.container {
  padding: 5px 5px 20px;
}

.headline-section {
  h1 {
    margin: 10px 0;
    color: variables.$primary-color;
  }
}

.description-section {
  p {
    margin: 0 0 10px;
  }
}

.email-section {
  lp-button {
    margin: 0 0 0 -10px;
  }
  input {
    font-size: 17px;
  }
}

p.below-button-text {
  margin: 0;
  font-size: 12px;
  color: #575757;
}
@media (min-width: (variables.$mobile-width)) {
  .headline-section {
    h1 {
      font-size: 3vw;
    }
  }
}

@media (min-width: variables.$mobile-width) {
  :host(.displayImage) {
    .container {
      .headline-section {
        h1 {
          max-width: 70%;
        }
      }
      .description-section {
        max-width: 65%;
      }
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
    }
  }
}

@media (max-width: (variables.$mobile-width - 1)) {
  .container {
    background-image: none !important;
  }
}
