@use '/src/variables.scss';
.container {
  display: flex;
  flex-direction: column;
}

.description-block {
  display: flex;
  .description {
    margin: auto;
  }
}

:host.image-hide-on-mobile {
  .image-block {
    display: none;
  }
}

.image-block {
  display: flex;
  img {
    margin: auto;
    padding: 10px 0;
  }
}

.headline-section {
  h1 {
    margin: 10px 0;
    color: variables.$primary-color;
  }
}

.email-section {
  lp-button {
    margin: 0 0 0 -10px;
  }
  input {
    font-size: 17px;
  }
}

p.below-button-text {
  margin: 0;
  font-size: 12px;
  color: #575757;
}
@media (min-width: (variables.$mobile-width - 400)) {
  .two-pane {
    flex-direction: row;
    .description-block {
      display: inline;
      .headline-section {
        max-width: 90%;
        h1 {
          font-size: 3vw;
          display: inline-block;
        }
      }
      .description-section {
        max-width: 70%;
        p {
          font-size: 20px;
        }
      }
    }

    .image-block {
      display: flex;
      max-width: 25%;
      img {
        width: 15vw;
        display: block;
        min-height: initial;
      }
    }
  }
}
