<div
  class="container"
  [ngStyle]="{ 'text-align': orientation }"
  [ngClass]="{ 'two-pane': orientation !== 'center' }"
>
  <div class="description-block">
    <div class="description">
      <div class="headline-section">
        <h1 [ngStyle]="{ 'font-size': staticHeadlineSize }">{{ headline }}</h1>
      </div>
      <div *ngIf="description !== ''" class="description-section">
        <p>{{ description }}</p>
      </div>
      <div *ngIf="submitSettings" class="email-section">
        <mat-form-field appearance="standard">
          <mat-label>Email Address</mat-label>

          <input
            type="email"
            matInput
            [(ngModel)]="emailAddress"
            name="emailAddress"
            [size]="submitSettings.textFieldCssWidth || 10"
          />
        </mat-form-field>
        <!-- can't href CTA button, because validation must occur first -->
        <lp-button [text]="submitSettings.buttonText" (click)="performSubmit()">
        </lp-button>
      </div>
      <div *ngIf="buttons?.length > 0" class="button-section">
        <lp-button
          *ngFor="let b of buttons"
          [text]="b.text"
          [href]="b.href"
        ></lp-button>
      </div>
      <p class="below-button-text">{{ belowButtonText }}</p>
    </div>
  </div>
  <div *ngIf="imageUrl !== ''" class="image-block">
    <img
      [ngStyle]="{
        transform: imageTransform
      }"
      [src]="imageUrl"
      [alt]="imageAltText"
    />
  </div>
</div>
