@use '/src/styles.scss';

.wrap {
  display: grid;
}

.title {
  margin: 5px;
}

.item {
  padding: 10px;
  .content-item-header {
    padding: 5px 0;
    margin: 0;
    color: styles.$shaded-color;
  }
  .content-item-description {
    margin: 0;
  }

  .testimonial-text {
    margin: 0;
  }
  .testimonial-name {
    margin: 0;
    font-weight: bold;
    color: styles.$shaded-color;
  }
  .testimonial-title {
    margin: 0;
    color: styles.$lighter-color;
  }
}

@media (min-width: styles.$mobile-width) {
  .item.bordered {
    border-right: 1px solid styles.$primary-color;
  }
  .item.bordered:last-child {
    border: 0;
  }
}
