@use '/src/variables.scss';

::ng-deep lp-button {
  .button {
    color: variables.$primary-color;
  }
  .button:hover {
    color: variables.$shaded-color;
  }
}

::ng-deep lp-button:first-child {
  .button {
    color: white;
    background-color: variables.$primary-color;
  }
  .button:hover {
    background-color: variables.$shaded-color;
  }
}
