@use '/src/styles.scss';

.container {
  display: flex;
  flex-direction: column;
}
.container.imageFirst {
  flex-direction: column-reverse;
}

.textBlock,
.imageBlock {
  margin: auto;
}

.imageBlock {
  display: flex;
  img {
    margin: auto;
    user-select: none;
    max-width: 80vw;
    max-height: 50vh;
  }
}

@media (min-width: styles.$mobile-width) {
  .container {
    flex-direction: row;
  }
  .container.imageFirst {
    flex-direction: row-reverse;
  }
  .textBlock,
  .imageBlock {
    img {
      max-width: 35vw;
      max-height: 35vh;
    }
    width: 50%;
  }
}
