<div class="container" [ngClass]="{ imageFirst: imageFirst }">
  <div class="textBlock" [ngStyle]="{ 'text-align': orientation }">
    <h1>{{ headline }}</h1>
    <p>{{ description }}</p>
    <div *ngIf="buttons?.length > 0" class="button-section">
      <lp-button
        *ngFor="let b of buttons"
        [text]="b.text"
        [href]="b.href"
      ></lp-button>
    </div>
  </div>
  <div class="imageBlock" [ngStyle]="{ overflow: imageOverflow }">
    <img
      [ngStyle]="{
        width: imageWidth,
        height: imageHeight,
        transform: imageTransform
      }"
      [src]="imageUrl"
    />
  </div>
</div>
