<div class="main-content">
  <div class="section-container">
    <lp-header
      orientation="left"
      headline="Create beautiful songs in no time"
      description="Top composers already crafted the perfect instrumentals. Release your next hit quickly by singing over backing tracks everyone loves."
      [submitSettings]="{
        target: '/signup/',
        location: '/app/',
        buttonText: 'Upgrade my music',
        textFieldCssWidth: '10'
      }"
      imageUrl="assets/waves.png"
      belowButtonText="Free. Forever."
      [imageHideOnMobile]="false"
    >
    </lp-header>
  </div>
  <div class="section-container">
    <lp-grid
      [content]="{
        contentType: 'content',
        title: 'Get started in 4 easy steps:',
        items: [
          {
            header: '1',
            description: 'Paste YouTube link'
          },
          {
            header: '2',
            description: 'We extract the backing track for you'
          },
          {
            header: '3',
            description: 'Download the mp3 file for free'
          },
          {
            header: '4',
            description: 'Sing!'
          }
        ]
      }"
      [bordered]="true"
      [baseColumns]="4"
    ></lp-grid>
  </div>
  <div class="section-container">
    <lp-dual-pane
      imageUrl="assets/cheering.png"
      headline="Save time and money producing your next song"
      description="Making music is time-consuming and expensive. VoiceBegone eliminates the lengthy process of developing backing tracks, so you can share your message with the world quickly and effectively."
      imageAltText="crowd cheering"
    ></lp-dual-pane>
  </div>
  <div class="section-container">
    <lp-dual-pane
      imageUrl="assets/music-heart.png"
      headline="Always free and available"
      description="Other music extraction services are either too expensive or get shut down after some time. Not us - we've got your back."
      imageAltText="music heart"
      [imageFirst]="true"
    >
    </lp-dual-pane>
  </div>
  <div class="section-container">
    <lp-header
      headline="What are you waiting for?"
      belowButtonText="&nbsp;"
      description="Your fans are waiting!"
      [submitSettings]="{
        target: '/signup/',
        location: '/app/',
        buttonText: 'Enter Now',
        textFieldCssWidth: '10'
      }"
      staticHeadlineSize="32px"
    >
    </lp-header>
  </div>
</div>
