@use '/src/variables.scss';

.main-content {
  margin: 0 auto;

  & > .section-container > * {
    display: block;
    margin: 10px 0;
    max-width: variables.$mobile-width;
    margin: auto;
  }

  & > *:nth-child(even) {
    background-color: variables.$even-color;
  }
  & > *:nth-child(odd) {
    background-color: variables.$odd-color;
  }
}
