@use '/src/variables.scss';

.main-content {
  margin: 0 auto;

  & > .section-container > * {
    display: block;
    margin: 10px 0;
    padding: 20px;
    max-width: variables.$mobile-width;
    margin: auto;
  }

  & > *:nth-child(even) {
    background-color: variables.$even-color;
  }
  & > *:nth-child(odd) {
    background-color: variables.$odd-color;
  }
  @media (min-width: (variables.$mobile-width - 400)) {
    & > *:first-child {
      padding-top: 30px;
    }
  }
}
