<div class="main-content">
  <lp-header
    orientation="left"
    [headline]="'left ' + headerHeadline"
    [description]="headerDescription"
    [buttons]="headerButtons"
    [imageCss]="imageCss"
    [belowButtonText]="belowButtonText"
  >
  </lp-header>
  <lp-header
    [headline]="'center email ' + headerHeadline"
    [description]="headerDescription"
    belowButtonText="No spam - we promise!"
    [submitSettings]="submitSettings"
  >
  </lp-header>
  <lp-dual-pane
    orientation="center"
    [imageFirst]="false"
    [imageUrl]="dualPaneImageUrl"
    [headline]="'center ' + dualPaneheader"
    [description]="dualPaneDescription"
    imageTransform="rotate(15deg)"
  >
  </lp-dual-pane>
  <lp-dual-pane
    [imageUrl]="dualPaneImageUrl"
    [headline]="dualPaneheader"
    [description]="dualPaneDescription"
    [buttons]="dualPaneButtons"
  ></lp-dual-pane>
</div>
